.expense-item {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 0.4rem 1rem;
    margin: 1rem;
    background-color: #4b4b4b;
    /* justify-content: space-between; */
    /* border-radius: 0.8rem; */
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); */

    & .expense-item__date {
        display: flex;
        flex-direction: column;
        width: 5rem;
        height: 5rem;
        border: 0.1rem solid #9e9e9e;
        background-color: #2a2a2a;
        color: white;
        border-radius: 0.8rem;
        align-items: center;
        justify-content: center;
        padding: 0.2rem;

        & span {
            font-size: 1.3rem;
            font-weight: 600;
        }

        & .yr {
            font-size: 1rem;
            font-weight: lighter;
        }
    }

    & .expense-item__description {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & p {
            font-size: 2rem;
            color: white;
            font-weight: bold;
        }

        & .expense-item__price {
            font-size: 1.5rem;
            font-weight: bold;
            color: white;
            background-color: #40005d;
            border: 0.1rem solid #5f008b;
            padding: 0.6rem;
            border-radius: 0.5rem;
        }

    }
}


@media (min-width: 580px) {
    .expense-item__description {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
    }

    .expense-item__description h2 {
        font-size: 1.25rem;
    }

    .expense-item__price {
        font-size: 1.25rem;
        padding: 0.5rem 1.5rem;
    }
}