.expenses-filter {
    color: white;
    padding: 0 1rem;

    & .expenses-filter-ctrl {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        margin: 1rem 0;
        gap: 1rem;

        & label {
            font-weight: bold;
        }

        & select {
            font: inherit;
            padding: 0.5rem 1.2rem;
            font-weight: bold;
            border-radius: 0.4rem;
        }
    }
}