.new-expense_controls {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 1rem;
    /* text-align: left; */
}

.new-expense_ctrl label {
    font-weight: bold;
    margin: 0 1rem;
    color: white;
    /* display: block; */
}

.new-expense_ctrl input {
    padding: 0.5rem;
    border-radius: 6px;
    border: none;
    width: 60%;
    max-width: 100%;
}

.new-expense_action {
    /* text-align: right; */
}